.item-3 {
  max-width: 350px;
  min-width: 280px;

  .loan-slider {
    padding: 30px 24px;
    background-color: #fff;
    color: #25282b;
    border-radius: 20px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);
    .Input{
      border: none;
    }
  }
}