<main class="Content">
    <div class="mobile-content">
        <div class="container">
            <app-mobile-navbar [title]="title"></app-mobile-navbar>
            <div class="create-account">
                <div class="Card">
                    <div class="Grids">
                        <div class="Grid-12 MarginBottom">
                            <p>Total Pinjaman</p>
                            <span><strong>Rp 2 Juta</strong></span>
                        </div>
                        <div class="Grid-6 text-left">
                            <p>Cicilan per Bulan</p>
                            <span><strong>Rp 482.985</strong></span>
                        </div>
                        <div class="Grid-6 text-right">
                            <p>Lama cicilan</p>
                            <span><strong>6 Bulan</strong></span>
                        </div>
                    </div>
                </div>
                <div class="BottomBar">
                    <ul class="BottomBar-menu">
                        <li class="BottomBar-menuItem">
                            <a href="#">Buat Akun</a>
                        </li>
                        <li class="BottomBar-menuItem">
                            <a href="#">Masuk Akun</a>
                        </li>
                    </ul>
                </div>
                <div class="form-create-account">
                    <form [formGroup]="CreateAccountForm" (ngSubmit)="onSubmit()">
                        <div class="Grids">
                            <div class="Grid-12">
                                <div class="Field MarginBottom">
                                    <label class="Field-label">Nama Sesuai KTP</label>
                                    <div class="Field-control">
                                        <input type="text" formControlName="FullName" placeholder="e.g John Appleseed"
                                            class="Input"/>
                                    </div>
                                    <div class="Color-danger" *ngIf="FullName.errors?.required">
                                        FullName is required.
                                    </div>
                                    <div class="Color-danger" *ngIf="FullName.errors?.maxlength">
                                        FullName must be at least max 50 characters long.
                                    </div>
                                    <div class="Color-danger" *ngIf="FullName.errors?.pattern">
                                        Fullname is alphabet only
                                    </div>
                                </div>

                                <div class="Field MarginBottom">
                                    <label class="Field-label">Nomor KTP</label>
                                    <div class="Field-control">
                                        <input formControlName="NumberOfKTP" placeholder="" class="Input"/>
                                    </div>
                                    <div class="Color-danger" *ngIf="NumberOfKTP.errors?.required">
                                        NumberOfKTP is required.
                                    </div>
                                    <div class="Color-danger" *ngIf="NumberOfKTP.errors?.minlength">
                                        NumberOfKTP must be at least min 16 characters long.
                                    </div>
                                    <div class="Color-danger" *ngIf="NumberOfKTP.errors?.maxlength">
                                        NumberOfKTP must be at least max 16 characters long.
                                    </div>
                                    <div class="Color-danger" *ngIf="NumberOfKTP.errors?.pattern">
                                        NumberOfKTP is numeric only
                                    </div>
                                </div>

                                <div class="Field MarginBottom">
                                    <label class="Field-label">Nomor Handphone</label>
                                    <div class="Field-control">
                                        <input formControlName="PhoneNumber" placeholder="" class="Input" />
                                    </div>
                                    <div class="Color-danger" *ngIf="PhoneNumber.errors?.required">
                                        PhoneNumber is required.
                                    </div>
                                    <div class="Color-danger" *ngIf="PhoneNumber.errors?.minlength">
                                        PhoneNumber must be at least min 9 characters long.
                                    </div>
                                    <div class="Color-danger" *ngIf="PhoneNumber.errors?.maxlength">
                                        PhoneNumber must be at least max 12 characters long.
                                    </div>
                                    <div class="Color-danger" *ngIf="PhoneNumber.errors?.pattern">
                                        PhoneNumber is numeric only
                                    </div>
                                </div>

                                <div class="Field MarginBottom">
                                    <label class="Field-label">Dari mana Anda mengetahui Tunaiku?*</label>
                                    <div class="Field-control">
                                        <select formControlName="MediaSource" class="Input">
                                            <option value="internet">Pilih salah satu</option>
                                            <option value="internet">Internet</option>
                                            <option value="internet">Teman</option>
                                            <option value="internet">Radio</option>
                                            <option value="internet">Selebaran/Brosur</option>
                                            <option value="internet">Televisi</option>
                                            <option value="internet">Lainnya</option>
                                        </select>
                                    </div>
                                    <div class="Color-danger" *ngIf="MediaSource.errors?.required">
                                      MediaSource is required.
                                    </div>
                                </div>
                            </div>
                            <div class="Grid-12">
                                <button [disabled]="CreateAccountForm.invalid" type="submit" class="Button Button--primary Button--fullWidth color-primarry-30">Lanjut Isi
                                    Formulir Pengajuan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
