<div class="statistic-container">
    <div class="Container">
        <div class="Grids">
            <div class="Grid-6">
                <div class="item">
                    <div class="logo">
                        <img src="assets/icon_income.svg" alt="income-logos">
                    </div>
                    <div class="description">
                        <div>
                            <span> > Rp 4 Triliun</span>
                            <p>Pembiayaan yang telah disalurkan</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Grid-6">
                <div class="item">
                    <div class="logo">
                        <img src="assets/icon_smartphone.svg" alt="income-logos">
                    </div>
                    <div class="description">
                        <div>
                            <span> > 4.6 juta Pengguna</span>
                            <p>Mengunduh aplikasi Tunaiku</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>