.success-submitted-data{
    padding: 20px 10px;
    text-align: center;
    justify-content: center;
    .message-title{
        img{
            width: 25%;
            height: auto;
            vertical-align: middle;
            margin-bottom: 10px;
        }
        h1{
            font-size: 20px;
            font-weight: 400;
        }   
    }
    .message-description{
        text-align: justify;
        p{
            font-size: 14px;
            font-weight: 400;
        }
    }
    .sticky{
        h4{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
    }
}