<div class="Card">
    <div class="Grids">
        <div class="Grid-12 MarginBottom">
            <p>Total Pinjaman</p>
            <span><strong>Rp {{totalLoan}} Juta</strong></span>
        </div>
        <div class="Grid-6 text-left">
            <p>Cicilan per Bulan</p>
            <span><strong>Rp {{payPerMonth}}</strong></span>
        </div>
        <div class="Grid-6 text-right">
            <p>Lama cicilan</p>
            <span><strong>{{termOfLoan}} Bulan</strong></span>
        </div>
    </div>
</div>