.slider-container {
    padding-top: 50px;
  
    .item-1 {
      max-width: 554px;
  
      .title {
        margin-bottom: 35px;
      }
  
      .subtitle {
        margin-bottom: 35px;
      }
  
      .footer {
        display: flex;
        flex-direction: row;
        margin-top: 270px;
      }
    }
  
    .item-2 {
      max-width: 16.66666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 16.66666667%;
  
      img {
        border-style: none;
        margin-left: -200px;
        transform: scaleX(-1);
        opacity: .5;
        vertical-align: middle;
      }
    }
  
    .item-3 {
      max-width: 350px;
      min-width: 280px;
  
      .loan-slider {
        padding: 30px 24px;
        background-color: #fff;
        color: #25282b;
        border-radius: 20px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);
      }
    }
  }
  .mat-slider-horizontal {
    width: 100%;
  }
  
  .mat-button-ajukan-pinjaman {
    width: 100%;
  }
  