<main class="Content">
    <div class="Container">
        <div class="slider-container">
            <div class="Grids">
                <div class="Grid-4 Grid-sm-4 Grid-lg-4 Grid-xl-4">
                    <div class="item-1">
                        <div class="Grids">
                            <div class="Grid-12">
                                <div class="title">
                                    <h1>Ajukan Pinjaman Online Tanpa Jaminan</h1>
                                </div>
                            </div>
                            <div class="Grid-12">
                                <div class="subtitle">
                                    <p>Hanya dengan KTP, dapatkan kredit tanpa agunan hingga Rp20.000.000</p>
                                </div>
                            </div>
                            <div class="Grid-12">
                                <div class="footer">
                                    <div class="footer-description">
                                        <p>Tunaiku adalah produk dari Bank Amar yang terdaftar dan diawasi oleh OJK
                                            sejak
                                            2014</p>
                                    </div>
                                    <div class="footer-logos">
                                        <div class="Grids">
                                            <div class="Grid-6">
                                                <img src="assets/Amar-Bank.svg" alt="amarbak-logos">
                                            </div>
                                            <div class="Grid-6">
                                                <img src="assets/OJK.svg" alt="ojk-logos">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Grid-4 Grid-sm-4 Grid-lg-4 Grid-xl-4">
                    <div class="item-2">
                        <img src="assets/homepage-woman.png" alt="landing-page">
                    </div>
                </div>
                <div class="Grid-4 Grid-sm-4 Grid-lg-4 Grid-xl-4">
                    <app-loan-slider></app-loan-slider>
                </div>
            </div>
        </div>
    </div>
</main>
<app-statistic></app-statistic>
<app-testimony></app-testimony>